nav .navbar-brand {
    font-family: 'Fredericka the Great', cursive;
    font-size: xx-large;
    letter-spacing: 4px;
    text-align: center;
    width: 168px;
}

body {
    /* Keep the body content beneath the fixed navbar */
    padding-top: 90px;
    padding-bottom: 20px;
    background-image: url("/static/eberhard-grossgasteiger-unsplash.jpg");
    background-color: #fff;
    background-size: cover;
    background-position: top right;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: scroll;
    padding-top: 100px;
}

#sidebar-header {
    border-bottom: 1px solid #fff;
    color: #ffffff;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 24px;
    width: 100%;
    text-align: center;
}

#channel-list li a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
}

#channel-list li a::before {
    content: "# ";
}

#channel-list a:hover {
    color: #5a5a5a;
}

#channel-form button {
    width: 100%;
}

#content {
    margin-left: 216px;
    margin-right: 16px;
    width: 100%;
}

#chat-channel {
    padding-bottom: 8px;
}
#chat-channel::before {
    content: "You are in the ";
}
#chat-channel::after {
    content: " conversation.";
}

#message-list {
    margin: 0;
}

#message-list li {
    background-color: rgb(120, 194, 173, 0.6);
    border: 1px solid #fff;
    border-radius: 5px;
    margin: 5px 0;
    padding: 5px 10px;
}

#message-list p {
    margin: 0;
}

#message-form textarea {
    margin: 10px 0;
}

.author {
    font-size: 14px;
    font-weight: bold;
    color: #5a5a5a;
    padding-right: 10px;
}

.time-sent {
    font-size: 10px;
    color: #5a5a5a;
}

.text-message {
    color: #5a5a5a;
}

#photo-credit {
    color: #888;
    font-size: 10px;
    text-align: center;
    margin: 0;
    width: 100%;
}
#photo-credit a {
    color: #fff;
}
