nav .navbar-brand {
    font-size: xx-large;
}

body {
    padding-top: 70px;
}

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: scroll;
    padding-top: 100px;
}

#sidebar-header {
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 24px;
}

#channel-list li a {
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
}

#channel-list a:hover {
    color: #5a5a5a;
}

#channel-form button {
    width: 100%;
}



#content {
    margin-left: 216px;
    margin-right: 16px;
    width: 100%;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}
