<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <!--link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"-->
        <!-- Bootswatch "Minty" Theme -->
        <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/minty/bootstrap.min.css" rel="stylesheet" integrity="sha384-4HfFay3AYJnEmbgRzxYWJk/Ka5jIimhB/Fssk7NGT9Tj3rkEChpSxLK0btOGzf2I" crossorigin="anonymous">

        <link href="/static/styles.css" rel="stylesheet">
        <link href="/static/favicon.ico" rel="icon">

        <!-- Google Fonts -->
        <!--link href="https://fonts.googleapis.com/css?family=Baloo+2:400,700|Liu+Jian+Mao+Cao&display=swap" rel="stylesheet"-->

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>

        <title>Flack</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary border">
            <a class="navbar-brand" href="/">FLACK</a>
            <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarColor01" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarColor01" class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto mt-2">
                    <form id="name-form" class="form-inline my-2 my-lg-0">
                        <input id="name" class="form-control mr-sm-2" autocomplete="off" autofocus placeholder="Display Name" type="text">
                        <button id="name-submit" <button class="btn btn-secondary my-2 my-sm-0" type="submit">Submit</button>
                    </form>
                </ul>
                <ul class="navbar-nav ml-auto mt-2">
                    <li class="nav-item">
                        <button class="btn btn-secondary" id="logout" type="button" onclick="localStorage.clear()">Log Out</button>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="wrapper">
            <nav id="sidebar" class="navbar navbar-dark bg-primary border">
                <h2 id="sidebar-header">Channels</h2>

                <ul id="channel-list" class="list-unstyled components">
                    {% for channel in chats %}
                        <li><a href="" class="channel-link">{{ channel }}</a></li>
                    {% endfor %}
                </ul>

                <form id="channel-form">
                    <div class="form-group">
                        <input id="channel" class="form-control" autocomplete="off" placeholder="Channel Name" type="text" maxlength="16">
                        <button class="btn btn-secondary" id="channel-submit" type="submit">Submit</button>
                    </div>
                </form>
            </nav>

            <div id="content">

                <h1 id="name-display"></h1>

                <div id="logged-in">
                    <div id="chatroom">
                        <h1 id="chat-channel"></h1>
                        <ul id="message-list">
                        </ul>
                    </div>

                    <div id="message-container">
                        <form id="message-form">
                            <div class="form-group">
                                <textarea id="message" class="form-control" autocomplete="off" name="message" required></textarea>
                            </div>
                            <button class="btn btn-primary" id="message-submit" type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
